body {
    color: #839496;
	  background: #002b36;
}

button {
    background-color: #d33682;
    color: #002b36;
    border-radius: 4px;
    padding: 14px 40px;
    border: none;
    font-size: 30px;
}
